<h1 class="times"><%= current_time_slot %></h1>

<div class="btn-wrap">
<%= link_to root_url do %>
    <button class="btn btn-primary">
      <span>Back</span>
    </button>
<% end %>
<% if @rooms.first.location == "1st Floor" %>
<%= link_to rooms_location_path(:location => "2nd Floor") do %>
    <button class="btn btn-primary">
      <span>2nd Floor</span>
    </button>
<% end %>
<%= link_to rooms_location_path(:location => "3rd Floor") do %>
    <button class="btn btn-primary">
      <span>3rd Floor</span>
    </button>
<% end %>
<% elsif @rooms.first.location == "2nd Floor" %>
<%= link_to rooms_location_path(:location => "1st Floor") do %>
    <button class="btn btn-primary">
      <span>1st Floor</span>
    </button>
<% end %>
<%= link_to rooms_location_path(:location => "3rd Floor") do %>
    <button class="btn btn-primary">
      <span>3rd Floor</span>
    </button>
<% end %>
<% else %>
<%= link_to rooms_location_path(:location => "1st Floor") do %>
    <button class="btn btn-primary">
      <span>1st Floor</span>
    </button>
<% end %>
<%= link_to rooms_location_path(:location => "2nd Floor") do %>
    <button class="btn btn-primary">
      <span>2nd Floor</span>
    </button>
<% end %>
<% end %>
</div>

<% @rooms.each do |room| %>
    <div class="col-xs-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= room.name %></h3>
        </div>
        <button type="button" class="main-button" data-toggle="modal" data-target="#input-<%=room.name.delete(' ').delete('(').delete(')')
                                                                         .delete('/') %>">
          <div class="panel-body">
            <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1">
            <%= room.occupancy %>/<%= room.maxOccupancy %>
          </span>
            </div> <!-- /input-group -->
          </div> <!-- /panel-body -->
        </button>
      </div> <!-- /panel-default -->

      <%= form_for(room) do |f| %>

          <div id="input-<%=room.name.delete(' ').delete('(').delete(')')
                            .delete('/') %>" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Occupancy for <%= room.name %></h4>
                </div>
                <div class="modal-body">
                  <%= f.number_field :occupancy %>
                  <%= f.hidden_field :maxOccupancy %>
                  <div class="actions">
                    <%= f.submit "commit", :class => "btn btn-primary"  %>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>

          </div>


      <% end %>

    </div> <!-- /col-xs-12 -->
<% end %>

<div class="btn-wrap">
<%= link_to root_url do %>
    <button class="btn btn-primary">
      <span>Back</span>
    </button>
<% end %>
<% if @rooms.first.location == "1st Floor" %>
<%= link_to rooms_location_path(:location => "2nd Floor") do %>
    <button class="btn btn-primary">
      <span>2nd Floor</span>
    </button>
<% end %>
<%= link_to rooms_location_path(:location => "3rd Floor") do %>
    <button class="btn btn-primary">
      <span>3rd Floor</span>
    </button>
<% end %>
<% elsif @rooms.first.location == "2nd Floor" %>
<%= link_to rooms_location_path(:location => "1st Floor") do %>
    <button class="btn btn-primary">
      <span>1st Floor</span>
    </button>
<% end %>
<%= link_to rooms_location_path(:location => "3rd Floor") do %>
    <button class="btn btn-primary">
      <span>3rd Floor</span>
    </button>
<% end %>
<% else %>
<%= link_to rooms_location_path(:location => "1st Floor") do %>
    <button class="btn btn-primary">
      <span>1st Floor</span>
    </button>
<% end %>
<%= link_to rooms_location_path(:location => "2nd Floor") do %>
    <button class="btn btn-primary">
      <span>2nd Floor</span>
    </button>
<% end %>
<% end %>
</div>
