<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>

        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :admin %>
        <div class="radio">
          <%= f.radio_button :admin, true, class: 'form-control' %>
          <%= label :admin_yes, 'Yes', :value => "true" %>
        </div>
        <div class="radio">
          <%= f.radio_button :admin, false, class: 'form-control' %>
          <%= label :admin_no, 'No', :value => "false" %>
        </div>

        <%= f.submit yield(:submitName), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>